toolchain/** linguist-vendored

*.i linguist-language=c

*.mk linguist-language=makefile
*.mak linguist-language=makefile
*.make linguist-language=makefile
*.mkf linguist-language=makefile
**/GNUmakefile linguist-language=makefile
**/GNUMakefile linguist-language=makefile

#*.conf linguist-language=conf
#*.cfg linguist-language=conf

# Supdef preprocessor
*.sd linguist-language=c

*.ld.template linguist-language=linker-script

*.s linguist-language=asm
*.S linguist-language=asm
*.asm linguist-language=asm
*.inc linguist-language=asm

*.ld linguist-detectable
*.lds linguist-detectable
*.ldscript linguist-detectable
*.ld.template linguist-detectable

scripts/pickled/* -linguist-detectable
*.pickle -linguist-detectable
*.dill -linguist-detectable
*.marshal -linguist-detectable

zerOS/gnumake/*gmsl* linguist-vendored
zerOS/gnumake/*gmsl*/** linguist-vendored