*.out
*.o
*.d
!**/config.d
*.log
*.txt
toolchain/**
config-temp/**
#.vscode/
**/__pycache__/
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.out

!.github/codeql-ci-python-requirements.txt

target/
**/target/